.main-content {
    margin-left: 260px; 
    padding: 20px;
    animation: fadeIn 0.5s ease-in;
    transition: margin-left 0.3s ease-in-out; 
}

  @media (max-width: 968px) {
    .main-content {
      margin-top: 20px;
      max-width: 100%;
      margin-left: 0; 
      padding: 10px;
    }
  }
