

.app-container {
  display: flex;
}

/* Aqui está a mágica! 
  Este é o container principal do conteúdo da sua página.
*/
.main-content {
  flex-grow: 2; /* Faz o conteúdo principal ocupar todo o espaço restante */
  padding: 3rem; /* Um pouco de espaço interno para não colar nas bordas */
  margin-left: 290px; /* A MARGIN QUE VOCÊ PEDIU! */
}

@media (max-width: 768px) {
  .main-content {
    max-width: 100%; /* Garante que o conteúdo não ultrapasse a tela */
    margin-left: 0; /* Remove a margem esquerda em telas menores */
    padding: 0; /* Ajusta o padding para telas menores */
    margin: 0 auto; /* Centraliza o conteúdo */
  }
  .app-container {
    flex-direction: column; /* Muda a direção do layout para coluna em telas menores */
  }
  .main-content {
    padding: 1rem; /* Ajusta o padding para telas menores */
  }
  .sidebar {
    width: 100%; /* Sidebar ocupa toda a largura em telas menores */
    position: relative; /* Garante que a sidebar se comporte corretamente */
  }
  .sidebar-header {
    padding: 1rem; /* Ajusta o padding do cabeçalho da sidebar */
  }
  
}